Page {
    background-image: ~/images/dungeon-door.jpg;
}

StackLayout {
    margin-left: 30;
    margin-right: 30;
    padding-bottom: 15;
    padding-top: 950px;
    border-color: red;
  }
  Image {
    margin-top: 5;
    margin-bottom: 20;
  }
  Button, TextField {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
    background-color: white;
  }
  .submit-button {
    background-color: #CB1D00;
    color: white;
    margin-top: 20;
  }